<div class="container">
  <form>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for movies..."
                   [(ngModel)]="searchStr"
                   name="searchStr" (keyup.enter)="searchMovies()">
            <span class="input-group-btn">
                            <button class="btn" type="button"
                                    (click)="searchMovies()">Go!</button>
                        </span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="searchRes">
    <app-movie-item
      *ngFor="let movie of searchRes"
      [movie]="movie"
    ></app-movie-item>
  </div>

  <div *ngIf="!searchRes" class="container-fluid p-0 m-0
                align-items-center
                justify-content-center d-flex">
    <div class="row w-100 p-0 w-0">
        <app-movie-item
          *ngFor="let movie of movies"
          [movie]="movie"
        ></app-movie-item>
    </div>

  </div>

</div>



